<div class="card">
  <a href="">
    <img
      [src]="listing.imageUrls[0]"
      alt="listing cover"
      class="property-img rounded mb-3"
    />
  </a>
  <div class="d-flex flex-column p-3">
    <p class="">{{ listing.name }}</p>
    <div class="d-flex align-items-center gap-1">
      <p class="">{{ listing.address }}</p>
    </div>
    <p class="">{{ listing.description }}</p>
    <p class="">{{ listing.price }}</p>
    <div class="text-slate-700 d-flex gap-4">
      <div class="">{{ listing.bedrooms }} beds</div>
      <div class="">{{ listing.bathrooms }} baths</div>
    </div>
  </div>
</div>
