<ng-container *ngIf="listing">
  <section>
    <div class="container mx-auto p-14 flex flex-col gap-8">
      <div
        class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-4 lg:gap-0"
      >
        <div class="flex flex-col gap-4">
          <h3 class="text-2xl font-semibold">{{ listing.name }}</h3>
          <p class="text-lg">{{ listing.address }}</p>
        </div>
        <div class="">
          <div class="text-4xl font-semibold text-black pb-3">
            {{ listing.price }}
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-8 lg:flex-row">
        <div class="max-w-[768px] flex flex-col gap-6">
          <div class="lg:w-[768px] lg:h-[500px]">
            <img
              [src]="listing.imageUrls[0]"
              class="object-cover h-full w-full"
              alt=""
            />
          </div>
          <div class="flex gap-6">
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-bed mr-[1px] text-xl"></i>
              <div>{{ listing.bedrooms }}</div>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-bath mr-[1px] text-xl"></i>
              <div>{{ listing.bathrooms }}</div>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-couch mr-[1px] text-xl"></i>
              <div>
                <ng-container *ngIf="listing.furnished; else notFurnished">
                  Furnished
                </ng-container>
                <ng-template #notFurnished> Not Furnished </ng-template>
              </div>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fas fa-parking mr-[1px] text-xl"></i>
              <div>
                <ng-container *ngIf="listing.parking; else noParking">
                  With Parking
                </ng-container>
                <ng-template #noParking> No Parking </ng-template>
              </div>
            </div>
          </div>
          <div>{{ listing.description }}</div>
        </div>
        <div
          class="bg-white flex-1 w-full mb-auto border border-gray-300 rounded-lg px-6 py-8 flex flex-col gap-8"
        >
          <div class="flex items-center gap-4">
            <div class="w-20 h-20 p-1 border border-gray-300 rounded-full">
              <img src="" alt="" />
            </div>
            <div class="">
              <div class="font-bold text-lg house-agent-name">
                listing.user.username
              </div>
              <a href="" class="text-sm text-blue-600"> View Listings </a>
            </div>
          </div>
          <form
            #contactForm="ngForm"
            (ngSubmit)="submitForm(contactForm)"
            class="flex flex-col gap-4"
          >
            <input
              ngModel
              name="name"
              class="border border-gray-300 focus:border-violet-700 outline-none rounded w-full px-4 h-14 text-sm"
              type="text"
              placeholder="Name*"
              required
            />
            <input
              ngModel
              name="email"
              class="border border-gray-300 focus:border-violet-700 outline-none rounded w-full px-4 h-14 text-sm"
              type="text"
              placeholder="Email*"
              required
            />
            <input
              ngModel
              name="phone"
              class="border border-gray-300 focus:border-violet-700 outline-none rounded w-full px-4 h-14 text-sm"
              type="text"
              placeholder="Phone*"
              required
            />
            <textarea
              ngModel
              name="message"
              class="border border-gray-300 focus:border-b-violet-700 outline-none resize-none rounded w-full p-4 h-36 text-sm text-gray-400"
              placeholder="Message*"
              defaultValue="Hello, I am interested in [Modern Apartment]"
              required
            ></textarea>
            <div class="flex gap-2">
              <button
                type="submit"
                class="bg-black text-white custom-color2 rounded p-4 text-sm w-full transition"
                [disabled]="contactForm.invalid"
              >
                Send Message
              </button>
              <button
                type="button"
                class="border border-b-black hover:border-black rounded p-4 text-sm w-full transition"
              >
                Call
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="!listing">
  <h1>Property Not Found!</h1>
</ng-container>
