<ng-container *ngIf="listing">
  <section>
    <div class="container mx-auto p-14 flex flex-col gap-8">
      <div
        class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-4 lg:gap-0"
      >
        <div class="flex flex-col gap-4">
          <h3 class="text-2xl font-semibold">{{ listing.name }}</h3>
          <p class="text-lg">{{ listing.address }}</p>
        </div>
        <div class="flex gap-2 text-sm">
          <div class="bg-green-500 text-white px-3 rounded-full">type</div>
          <div class="bg-violet-500 text-white px-3 rounded-full">country</div>
        </div>
        <div class="">
          <div class="text-3xl font-semibold text-violet-600">
            {{ listing.price }}
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-8 lg:flex-row">
        <div class="max-w-[768px] flex flex-col gap-6">
          <div class="">
            <img
              [src]="listing.imageUrls[0]"
              class="lg:h-[500px] w-full object-cover hover:scale-105 transition-scale duration-300"
              alt=""
            />
          </div>
          <div class="text-violet-700 flex gap-6">
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-bed mr-[3px] text-2xl"></i>
              <div>{{ listing.bedrooms }}</div>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-bath mr-[3px] text-2xl"></i>
              <div>{{ listing.bathrooms }}</div>
            </div>
            <div class="flex gap-2 items-center">
              <i class="fa-solid fa-expand mr-[4px] text-2xl"></i>
              <div>4000ft</div>
            </div>
          </div>
          <div>{{ listing.description }}</div>
        </div>
        <div
          class="bg-white flex-1 w-full mb-auto border border-gray-300 rounded-lg px-6 py-8 flex flex-col gap-8"
        >
          <div class="flex items-center gap-4">
            <div class="w-20 h-20 p-1 border border-gray-300 rounded-full">
              <img src="" alt="" />
            </div>
            <div class="">
              <div class="font-bold text-lg house-agent-name">
                {{ listing.user.username }}
              </div>
              <a href="" class="text-violet-700 text-sm"> View Listings </a>
            </div>
          </div>
          <form
            #contactForm="ngForm"
            (ngSubmit)="submitForm(contactForm)"
            class="flex flex-col gap-4"
          >
            <input
              ngModel
              name="name"
              class="border border-gray-300 focus:border-violet-700 outline-none rounded w-full px-4 h-14 text-sm"
              type="text"
              placeholder="Name*"
              required
            />
            <input
              ngModel
              name="email"
              class="border border-gray-300 focus:border-violet-700 outline-none rounded w-full px-4 h-14 text-sm"
              type="text"
              placeholder="Email*"
              required
            />
            <input
              ngModel
              name="phone"
              class="border border-gray-300 focus:border-violet-700 outline-none rounded w-full px-4 h-14 text-sm"
              type="text"
              placeholder="Phone*"
              required
            />
            <textarea
              ngModel
              name="message"
              class="border border-gray-300 focus:border-b-violet-700 outline-none resize-none rounded w-full p-4 h-36 text-sm text-gray-400"
              placeholder="Message*"
              defaultValue="Hello, I am interested in [Modern Apartment]"
              required
            ></textarea>
            <div class="flex gap-2">
              <button
                type="submit"
                class="bg-violet-700 hover:bg-violet-800 text-white rounded p-4 text-sm w-full transition"
                [disabled]="contactForm.invalid"
              >
                Send Message
              </button>
              <button
                type="button"
                class="border border-b-violet-700 text-violet-700 hover:border-violet-500 hover:text-violet-500 rounded p-4 text-sm w-full transition"
              >
                Call
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="!listing">
  <h1>Property Not Found!</h1>
</ng-container>
