<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Login</h2>
        </div>
        <div class="card-body">
          <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="mb-4">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                class="form-control"
                required
              />
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                required
              />
            </div>

            <div class="d-grid">
              <button type="submit" class="btn" [disabled]="loginForm.invalid">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
