<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Profile</h2>
        </div>
        <div class="card-body">
          <form #profileForm="ngForm" (ngSubmit)="onProfileUpdate(profileForm)">
            <div class="mb-4">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                class="form-control"
                required
              />
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                required
              />
            </div>

            <div class="d-grid">
              <button
                type="submit"
                class="btn mb-2 border border-dark"
                [disabled]="profileForm.invalid"
              >
                Update
              </button>
            </div>
          </form>
          <div class="d-grid">
            <button
              routerLink="/addProperty"
              class="btn mb-2 border border-dark"
            >
              Add new property
            </button>
            <button
              (click)="authService.logout()"
              routerLink="/"
              class="btn mb-2 border border-dark"
            >
              Logout
            </button>
            <button
              class="btn mb-2 border border-dark"
              (click)="onDeleteAccount()"
            >
              Delete my Account
            </button>
            <button
              class="btn mb-2 border border-dark"
              (click)="onShowListings()"
            >
              Show my Listings
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="showlistings && userListings && userListings.length > 0">
  <div class="container mt-4">
    <h1 class="text-center mt-4 mb-4 font-weight-bold">Your Listings</h1>
    <div *ngFor="let listing of userListings" class="card mb-3">
      <div class="row">
        <div class="col-md-3">
          <a [routerLink]="'/listing/' + listing.propertyId">
            <img
              [src]="listing.imageUrls[0]"
              alt="listing cover"
              class="card-img h-100"
            />
          </a>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <a
              [routerLink]="'/listing/' + listing.propertyId"
              class="text-dark fs-5 fw-bold text-decoration-none"
            >
              <p class="card-title">{{ listing.name }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container
  *ngIf="
    showlistings && (userListings === undefined || userListings.length === 0)
  "
>
  <h1>You have no listings</h1>
</ng-container>
