<div class="flex flex-col">
  <section class="flex flex-col md:flex-row py-12 xl:py-24 gap-8 md:gap-0">
    <!---image-->
    <div class="flex-1 flex justify-center">
      <div
        class="flex border-custom w-[300px] sm:w-[400px] h-[400px] sm:h-[500px]"
      >
        <img class="" src="../../../assets/banner3.jpg" alt="" />
      </div>
    </div>
    <div
      class="lg:mr-8 xl:mr-[135px] flex flex-col items-center lg:items-start text-center lg:text-left justify-center px-4 lg:px-0 gap-6 flex-1"
    >
      <h1 class="lg:text-[58px] font-semibold leading-tight lg:max-w-[550px]">
        Your Dream House Is One Step Away
      </h1>
      <p class="max-w-[480px]">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
        rerum soluta quo dolore odio, repudiandae, et odit possimus quas eveniet
        id! Eligendi aspernatur pariatur, a numquam labore eos distinctio
        explicabo.
      </p>
      <!-----search bar------>
      <div class="relative mt-3">
        <form (ngSubmit)="onSubmitForm()">
          <input
            type="text"
            class="shadow rounded border-0 p-4 w-[24rem] h-[4rem] lg:w-[39rem]"
            [(ngModel)]="searchTerm"
            placeholder="Search by name..."
            name="searchTerm"
          />
          <button
            type="submit"
            class="absolute top-1/2 transform -translate-y-1/2 right-0 mr-4 text-purple-lighter"
          >
            <i class="fas fa-search text-dark text-lg"></i>
          </button>
        </form>
      </div>
    </div>
  </section>

  <!-- property listings-->

  <section class="pb-20">
    <div class="container mx-auto">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-14">
        <app-listing-item
          *ngFor="let listing of listings"
          [listing]="listing"
        ></app-listing-item>
      </div>
    </div>
  </section>
</div>
