<div class="container mt-5 py-5 px-4">
  <h1>Find Your Home</h1>

  <!-- Listings Filtering form -->
  <div id="form-container">
    <form
      (ngSubmit)="onSubmitForm(filterForm)"
      #filterForm="ngForm"
      id="filter-form"
    >
      <div id="filter-part" class="row py-2">
        <div class="col-lg-3">
          <div class="input-group">
            <select
              ngModel
              name="cities"
              class="form-select border-0 py-4 px-3"
              id="cities"
            >
              <option value="1">1</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
            <select
              ngModel
              name="categories"
              class="form-select border-0 py-4"
              id="category"
            >
              <option value="2">2</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
            <select
              ngModel
              name="sortBy"
              class="form-select border-0 py-4"
              id="price"
            >
              <option value="1">Price Low to High</option>
              <option value="2">Price High to Low</option>
              <option value="3">Ratings</option>
              <!-- <option value="4">Latest</option> -->
            </select>
          </div>
        </div>

        <div class="col-lg-3">
          <button
            type="submit"
            name="search"
            class="btn material-icons shadow-lg py-3 px-3 mt-2"
          >
            search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- property listing-->

<div>
  <div class="container mx-auto p-3 d-flex flex-column my-5">
    <h2 class="h2 font-weight-bold mb-3">Recent offers</h2>
    <a class="small text-primary mb-3">Show more offers</a>
    <div class="d-flex flex-wrap gap-4">
      <app-listing-item
        *ngFor="let listing of listings"
        [listing]="listing"
      ></app-listing-item>
    </div>
  </div>
</div>
