<div class="container mt-5 py-5 px-4">
  <h1 class="mb-3">Find Your Home</h1>

  <!-- Listings Filtering form -->
  <form
    (ngSubmit)="onSubmitForm()"
    class="p-3 d-flex align-items-center input-group w-25"
  >
    <input
      type="text"
      placeholder="Search..."
      class="form-control bg-transparent focus:outline-none"
      [(ngModel)]="searchTerm"
      name="searchTerm"
    />
    <button type="submit" class="btn btn-primary">
      <span class="text-light">Search</span>
    </button>
  </form>
</div>
<!-- property listing-->

<div>
  <div class="container mx-auto p-3 d-flex flex-column my-5">
    <h2 class="h2 font-weight-bold mb-3">Recent offers</h2>
    <a class="small text-primary mb-3">Show more offers</a>
    <div class="d-flex flex-wrap gap-4">
      <app-listing-item
        *ngFor="let listing of listings"
        [listing]="listing"
      ></app-listing-item>
    </div>
  </div>
</div>
